<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Blue Software</title>

	<link rel="shortcut icon" href="images/fav.png">


	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='font-awesome\css\font-awesome.css' rel="stylesheet" type="text/css">
	<!-- Bootstrap -->
	<link href="bootstrap\css\bootstrap.min.css" rel="stylesheet">
	<!-- Main Style -->
	<link rel="stylesheet" href="style.css">
	<!-- fancy Style -->
	<link rel="stylesheet" type="text/css" href="js\product\jquery.fancybox.css?v=2.1.5" media="screen">



	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
<div id="wrapper">
	<div class="header">
		<!--Header -->
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-md-4 main-logo">

					<a href="#" style="color: yellow;"><img src="images/logo1.png" alt=""></a>
				</div>

				<div id="navv" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a class="active" th:href="@{/tk}">Ana Sayfa</a>

						</li>
						<li class="dropdown menu-large">
							<ul class="dropdown-menu megamenu container row">
							</ul>
						</li>

						<li><a th:href="@{/hakkimizda}">Hakkımızda</a></li>
						<li><a th:href="@{/tk/searchInput(userInput='tum telefonlar')}">Ürünler</a></li>
						<li><a th:href="@{/iletisim}">İletişim</a></li>
					</ul>
				</div>


				<div class="col-md-8">
					<div class="pushright">

					</div>
				</div>
			</div>
		</div>
		<div class="dashed"></div>
	</div>
	<!--Header -->
	<div class="main-nav">
		<!--end main-nav -->

	</div>
	<!--end main-nav -->



	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-title-wrap">
					<div class="page-title-inner">
						<div class="row">
							<div class="col-md-4">
								<div class="bread"><a href="#">Ana Sayfa</a> &rsaquo; Hakkımızda</div>
								<div class="bigtitle">Hakkımızda</div>
							</div>
							<div class="col-md-3 col-md-offset-5">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<!--Main content-->

				<div class="title-bg">
					<div class="title">Biz Kimiz?...</div> <hr>
					<p>
						Bizler 2018 yılı Gazi Üniversitesi Teknoloji Fakültesi Bilgisayar Mühendisliğine kayıtlı Mühendislik  öğrencileriyiz. Şuan dört kişi olarak devam ettiğimiz ekibimiz sırası ile; <hr>
					<span style="color: black; font-size: x-large; font-style: italic;" >Özgür Sadık UTKU</span> <br>
					<span style="color: black; font-size: x-large; font-style: italic;">Miraç GÜNTOĞAR</span> <br>
					<span style="color: black; font-size: x-large; font-style: italic;">Mehmet Ferhat ENGÜR</span> <br>
					<span style="color: black; font-size: x-large; font-style: italic;">İsa Yasin KURU</span> <br> <hr>

					Back end ve Front end kısmı olarak iki ekip halinde çalışan ekibimiz diğer çalışmalarda ise ortak hareket ederek üzerinde çalışılan uygulamayı yürütmekte ve geliştirmekte.



					</p>
					<hr>

					<div class="title-bg">
						<div class="title">Genel Bilgiler</div>
					</div>
					<div class="page-content">
						<p>
							Projemiz satışı yapılan ürünün diğer sitelerdeki fiyatlarını karşılaştıran bir web sitesi.  <br><hr>
						Kullanıcı almak istediği ürünü sitede arattığı zaman karşısına farklı sitelerdeki satış fiyatlarını görecek karşılaştırmasını sağlayacak bir web sitesi arayüzü
						ile karşılaşacak.İlerleyen aşamalarda aynı zamanda ürünün özelliklerini kıyaslayabileceği fonksiyonda eklemeyi düşünüyoruz. <hr>
						Amacımız mağazalara gidip vakit kaybetmek istemeyen kullanıcıların internet üzerinden alışveriş yaparken de vakit kaybı yaşamasını önlemek için alacağı ürünün farklı farklı sitelerdeki fiyatlarının karşılaştırmasını sağlayacak. <hr>
						Ekibimizin sürdürdüğü çalışmalar ilerleyen süreçlerde devam edecek olup güncellemeler ve iyileştirmeler anlık olarak yansıtılmaya devam edilecektir...

						</p> <hr>




					</div>

				</div>
			</div>
			<div class="col-md-3">
				<!--sidebar-->
				<div class="title-bg">

					<!--kategori alt başlıkları-->
				</div>

				<div class="categorybox">
					<ul>
						<li><a href="#">iPhone 4S</a></li>
						<li><a href="#">Samsung Galaxy</a></li>
						<li><a href="#">Xiaomi"</a></li>

					</ul>
				</div>

				<div class="ads">
					<a href="product.htm"><img src="images\sample-5.png" class="img-responsive" alt=""></a>
				</div>

				<div class="title-bg">
					<div class="title">En Çok Satanlar</div>
				</div>
				<div class="best-seller">
					<ul>
						<li class="clearfix">
							<a href="#"><img src="images\sample-5.png" alt="" class="img-responsive mini"></a>
							<div class="mini-meta">
								<a href="#" class="smalltitle2">İphone</a>
								<p class="smallprice2">Fiyat : 5000 Tl</p>
							</div>
						</li>
						<li class="clearfix">
							<a href="#"><img src="images\sample-5.png" alt="" class="img-responsive mini"></a>
							<div class="mini-meta">
								<a href="#" class="smalltitle2">İphone</a>
								<p class="smallprice2">Fiyat : 7000 Tl</p>
							</div>
						</li>
						<li class="clearfix">
							<a href="#"><img src="images\sample-5.png" alt="" class="img-responsive mini"></a>
							<div class="mini-meta">
								<a href="#" class="smalltitle2">İphone</a>
								<p class="smallprice2">Fiyat : 9000 Tl</p>
							</div>
						</li>
					</ul>
				</div>

			</div>
			<!--sidebar-->
		</div>
		<div class="spacer"></div>
	</div>

	<div class="f-widget">
		<!--footer Widget-->
		<div class="container">
			<div class="row">

				<!--footer twitter widget-->

				<!--footer newsletter widget-->
				<div class="col-md-4">
					<!--footer contact widget-->
					<div class="title-widget-bg">
						<div class="title-widget-cursive">iletişim</div>
					</div>
					<ul class="contact-widget">
						<li class="fphone">+90 530 975 3423, +90 537 438 8248 <br> +90 551 018 1139</li>
						<li class="fmobile">+90 530 975 3423<br>+90 543 377 5447</li>
						<li class="fmail lastone">mrc.gndgr.23@gmail.com<br>mrc.gndgr.23@gmail.com</li>
					</ul>
				</div>
				<!--footer contact widget-->

				<!--footer contact widget-->
				<a href="https://www.mi.com/tr/" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">XIAOMI</div></a>
				<a href="https://www.samsung.com/tr/" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">SAMSUNG</div></a>
				<a href="https://www.apple.com/tr/?afid=p238%7Cs4qUAJaTV-dc_mtid_187079nc38483_pcrid_516153453507_pgrid_28586581366_&cid=aos-tr-kwgo-brand--slid--bran-product-" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">APPLE</div></a>
				<a href="https://www.lg.com/tr" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">LG</div></a>
				<a href="https://reeder.com.tr/p13-blue.html/" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">REEDER</div></a>
				<a href="https://www.huawei.com/tr/" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">HUAWEI</div></a>
				<a href="https://www.oppo.com/tr/?gclid=CjwKCAjwtdeFBhBAEiwAKOIy5y0wZinWg978Z8cAYnCGbfd9UQsptS8NjVM93FmdNabZOmDJZ7CbxhoCGRsQAvD_BwE" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">OPPO</div></a>
				<a href="https://www.generalmobile.com/tr" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">GENERAL MOBILE</div></a>
				<a href="https://www.hihonor.com/tr/" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">HONOR</div></a>
				<a href="https://www.vestel.com.tr/?gclid=CjwKCAjwtdeFBhBAEiwAKOIy58QLFdRzAcgj6hTukrshyN9k701XHjToo6QXj8wTabejmttFnAZ8vxoCsK8QAvD_BwE&gclsrc=aw.ds" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">VESTEL</div></a>
				<a href="https://www.infinixmobility.com/tr/" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">INFINIX</div></a>
				<a href="https://www.oneplus.com/tr" class="btn btn-default btn-follow" style="width: 150PX; text-align: center; align-items: center; border-radius: 25px;" ><i class=""></i><div style="text-align: center;">ONEPLUS</div></a>


			</div>
			<div class="spacer"></div>
		</div>
	</div>
	<!--footer Widget-->

	<div class="footer">
		<!--footer-->
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<ul class="footermenu">
						<!--footer nav-->
						<li><a href="index-1.htm">Ana Sayfa</a></li>
						<li><a href="iletisim.htm">Bizimle İletişime Geçin</a></li>
					</ul>
					<!--footer nav-->
					<div class="f-credit">&copy;Tüm Hakları Saklıdır <a href="#">Blue Software</a></div>

				</div>
				<div class="col-md-3">
					<!--footer Share-->
					<div class="followon">Bizi Takip Edin</div>
					<div class="fsoc">
						<a href="#" class="ftwitter">twitter</a>
						<a href="#" class="ffacebook">facebook</a>
						<a href="#" class="fa-youtube">youtube</a>
						<a href="#" class="fa-instagram">Instagram</a>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!--footer Share-->
			</div>
		</div>
	</div>
	<!--footer-->




		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="bootstrap\js\bootstrap.min.js"></script>

		<!-- map -->
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="js\jquery.ui.map.js"></script>
		<script type="text/javascript" src="js\demo.js"></script>

		<!-- owl carousel -->
		<script src="js\owl.carousel.min.js"></script>

		<!-- rating -->
		<script src="js\rate\jquery.raty.js"></script>
		<script src="js\labs.js" type="text/javascript"></script>

		<!-- Add mousewheel plugin (this is optional) -->
		<script type="text/javascript" src="js\product\lib\jquery.mousewheel-3.0.6.pack.js"></script>

		<!-- fancybox -->
		<script type="text/javascript" src="js\product\jquery.fancybox.js?v=2.1.5"></script>

		<!-- custom js -->
		<script src="js\shop.js"></script>
	</div>
</body>

</html>